* {
  box-sizing: border-box;
}
/*  COLORS
E2FCEF white
F8BDC4 pink (FBDBDE)
64B6AC glue (B8DDD9)
948D9B purple (CECBD1)
292F36 black


/*Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nuplla pariatur. Excepteur sint occaecat cupidatat
non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. */
/*SIDE BAR*/
ul.sidebar {
  column: 1;
  display: block;
  position:fixed;
  padding: 1rem;
  margin: 1rem;
  list-style-type: none;
  color: white;
  text-decoration: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  float: right;
  font-size: .8rem;
  align-content: left;
}
ul.sidebar li {
  margin: 2.5rem;
}
ul.sidebar li a {
  text-decoration: none;
  color: white;
}
ul.sidebar img {
  width: 75px;
  height: auto;
  border:none;
}
ul.sidebar li a:hover{
  color: blue;
}
/*NAVBAR*/
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 2px;
  border: outset;
  background-color: #c7c7c7;
  position: fixed;
  bottom: 0;
  overflow: auto;
  width: 100%;
  height: auto;
  font-size: .8rem;
}

ul.navbar li a {
  display: block;
  color: #353535;
  padding: .2rem;
  margin: .2rem;
  border: outset;
  text-decoration: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  float: left;
}

ul.navbar li active {
  display: block;
  color: #353535;
  padding: .2rem;
  margin: .2rem;
  border: inset;
  text-decoration: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  float: left;
}


ul.navbar li a:hover{
  background-color: #d6d6d6;
  color: white;
}

/* MAIN */
main {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, 1fr 4fr);
  margin: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: .8rem;
}


/*CARDS*/
.cards {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 3rem;
  margin: 1rem;
}

.cards>box {
  display: flex;
  flex-flow: column;
  border: outset 2px;
  background: white;
}

.cards p {
  height: 4rem;
  width: auto;
  overflow: auto;
  padding: 2px;
}

/*LISTS*/
.lists {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 3rem;
  margin: 1rem;
  align-items: start;
}

.lists>box {
  display: flex;
  flex-flow: column;
  border: outset 2px;
  background: white;
}

.lists p {
  width: auto;
  padding: 2px;
}


/*BOXES*/
box>div.topbar {
  background: #1E65B9;
  color: white;
  margin: 0;
  padding: 2px;
  width: 100%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1rem;
}

box>div.content {
  color: #292828;
  padding: 5px;
}


img {
  width: 100%;
  height: auto;
  border: inset;
}

/* STYLING */
body {
  padding: 0;
  margin: 0;
  background: #59B3B2;
}

h1 {}
